.container {
    margin: 0 auto;
    padding-left: $gutter;
    padding-right: $gutter;
    max-width: $desktop + $gutter *2;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter;
    margin-right: -$gutter;
    >* {
        padding-left: $gutter;
        padding-right: $gutter;
    }
}