*, ::before, ::after {
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul  {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content {
  text-align: center;
  margin: 5px;
}

/*Arama Alanı 1*/
.input-content {
  background-color: #eeeeee;
  padding: 15px 0;
}

.input-content h3 {
  font-family: Georgia, "Times New Roman", serif;
 
  margin-bottom: 5px;
}

.input-content input {
  width: 350px;
  height: 20px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.49);
  margin-bottom: 10px;
 
}
/*Arama Alanı 1*/
.flex {
  display: flex;
  margin-top: 3px;
}

.grow-1 {
  flex: 1;
}

.box-1, .box-2, .box-3 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.box-1 {
  background-color: #7EE5DA; 
}

.box-2 {
  background-color: #70CCC2;
  width: 300px;
  margin-left: 5px;
  margin-right: 5px;
}

.box-3 {
  background-color: #62B3AA;
}

/*Footer*/
.copyright {
  margin-top: 5px;
}